.main {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.search-main-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.search-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.main-content-panel {
    flex: 4;
    min-height: 40rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0.25rem;
    margin-right: 0.75rem;
}

.lawyers-panel {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.tran {
    color: transparent;
}

.gray {
    color: gray
}