<mat-toolbar dir="rtl" color="primary">
    <button *ngIf="!isHandset; else avatar" (click)="onClick()" type="button" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/">
        <span style="font-size: large;">{{(isHandset ? "title" : title) | persian}}</span>
    </button>
    <span class="example-spacer"></span>

    <button *ngFor="let link of links" [routerLink]="link.link" routerLinkActive="active" mat-button>
        {{link.title| persian}}
    </button>
    <div style="width: 1rem;"></div>
    <app-login-button></app-login-button>

</mat-toolbar>
<mat-progress-bar class="progress" *ngIf="(loading | async) else progressHolder" color="warn"
    mode="indeterminate"></mat-progress-bar>

<ng-template #progressHolder>
    <div class="progress"></div>
</ng-template>

<ng-template #avatar>
    <a routerLink="/profile">
        <img class="avatar" src="assets/images/avatar.jpeg" alt="Avatar">
    </a>
</ng-template>