<div style="padding: 1rem;">
    <span>{{"consultant-topic" | persian}}: </span>
    <mat-chip-listbox [value]="expertise.name" (change)="expertiseChanged($event)">
        <mat-chip-option *ngFor="let expertise of allExpertise" color="accent">
            <span>{{expertise.name | persian}}</span>
        </mat-chip-option>
    </mat-chip-listbox>
</div>
<app-users-panel [expertiseId]="expertise.id" [config]="config" [pageSizeOptions]="[5, 10, 25, 50]"
    (action)="onAction($event)"></app-users-panel>