.avatar {
    border-radius: 50%;
    width: 2.5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;

    color: white;

    /* background-color: red; */
}

a {
    text-decoration: none;
}