.col {
    background-color: #ddd;
    font-weight: 600;
}

.colH {
    font-weight: 600;
    color: #ff3f80;
    background-color: #904a6154
}

.col6 {
    border-top-left-radius: 0.25rem;
}

.col0 {
    border-top-right-radius: 0.25rem;
}

.normal {
    font-weight: 400;
}

.normal-friday {
    font-weight: 400;
    color: ff3f80;
}

.out {
    font-weight: 100;
    color: gray;
}

.out-friday {
    font-weight: 100;
    color: #ff3f80;
}

.btn {
    font-size: 1rem;
    text-align: center;
}

/* .mat-badge.hide-text .mat-badge-content {
    font-size: 1px;
    color: transparent;
} */

.red {
    background-color: #ff3f7f12;
}

.bg-white {
    background-color: white;
}