.command-bar {
    /* width: 95%; */
    margin: 1rem;
    min-height: 70%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}

.create-vacation-button {
    width: 50%;
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
}

.chip {
    border: 1px solid gray;
    border-radius: 0.4rem;
    height: 3rem;
    margin-bottom: 0.2rem;
}