<br><br>

<mat-card class="center">
    <form class="example-form" [formGroup]="form" (submit)="onSubmit()">
        <mat-card-header>
            <mat-card-title class="title">
                {{"login-and-register" | persian}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <mat-form-field class="example-full-width">
                <mat-label>{{"phone" | persian}}</mat-label>
                <input style="direction: ltr;" type="tel" matInput formControlName="phone" placeholder="09123456789">
                <mat-hint>{{"enter-phone" | persian}}</mat-hint>
                <mat-error *ngIf="phone?.touched && phone?.invalid">
                    {{"invalid_phone"| persian}}
                </mat-error>
            </mat-form-field>

            <!--
            <mat-form-field style="padding-top: 2rem; padding-bottom: 2rem;" class="example-full-width">
                <mat-label>{{"password" | persian}}</mat-label>
                <input type="password" matInput formControlName="password" placeholder="******">
                <mat-hint>{{"enter-password" | persian}}</mat-hint>
                <mat-error *ngIf="phone?.touched && phone?.invalid">
                    {{"invalid_password"| persian}}
                </mat-error>
            </mat-form-field>
            -->
        </mat-card-content>
        <mat-card-actions>
            <button style="width: 100%;" [disabled]="form.invalid" type="submit" mat-raised-button color="accent">
                {{"continue" | persian}}
            </button>
        </mat-card-actions>
        <a style="padding-top: 1rem; padding-bottom: 1rem;" mat-flat-button routerLink="/lawyer-register">
            {{"register-as-lawyer" | persian}}
        </a>
    </form>
</mat-card>