<div class="main">
    <div class="search-main-panel">

        <div class="card search-panel">
            <span [matBadgeHidden]="filterCount <= 0" [matBadge]="filterCount" matBadgePosition="above after"
                matBadgeColor="warn">
                {{"filters" |
                persian}}
            </span>

            <button [disabled]="filterCount<= 0" (click)="clearFilters()" type="button" mat-mini-fab color="warn"
                (click)="clearFilters()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <app-search-panel [value]="provinceId" placeholder="search province" title="province" [data]="provinces$"
            (changed)="provinceChanged($event)">
        </app-search-panel>
        <div style="height: 0.2rem;"></div>
        <app-search-panel [value]="expertiseId" placeholder="search expertise" title="expertise" [data]="expertise$"
            (changed)="expertiseChanged($event)"></app-search-panel>
    </div>
    <div style="flex: 4; margin-right: 0.5rem;">
        <app-users-panel role="lawyer" [provinceId]="provinceId" [expertiseId]="expertiseId"></app-users-panel>

    </div>

</div>