.icon-display {
    transform: scale(2);
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3,
h2 {
    font-family: "IranSans", Roboto, "Helvetica Neue", sans-serif;
}