.IRANSans {
    font-family: IRANSans;
}

.center {
    margin: auto;
    max-width: 500px;
    text-align: center;
    padding: 10px;

}

.title {
    margin: 20px auto;
    text-align: center;
    font-family: IRANSans;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.snackbar {
    max-width: 90% !important;
    margin-left: auto !important; 
    margin-right: auto !important; 
    margin-bottom: 1rem !important;
    padding: 10px !important; 
    background-color: green;
    color: white;

    .mat-button-wrapper {
        color: black !important; 
    }
}

.success-snackbar {
    --mdc-snackbar-container-color: green;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
}