/* You can add global styles to this file, and also import other style files */

* {
    font-family: "IRANSans", Roboto, "Helvetica Neue", sans-serif;
}


html,
body {
    height: 100%;
    direction: rtl;
}

body {
    margin: 0;

}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.card {
    /* width: 16.4rem;
    height: 20rem; */
    margin: 0rem;
    background-color: white;
    border-radius: 0.25rem;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.side-toolbar-card {
    flex: 1;
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
}

.content-card {
    flex: 4;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
}

.page-content {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 1rem;
}

.askedMe {
    background-color: aliceblue;
}

.completedQuestion {
    background-color: #f4f4f4;
}

.container {
    padding: 0.4rem;
}

.red-holiday {
    background-color: #ff3f7f32;
}

.red-vacation {
    background-color: #ff3f7f52;
}

.red-off {
    background-color: #ff3f7f12;
}