<div style="padding: 2rem;">

    <form>
        <div class="card" style="padding: 1rem;">
            <app-avatar [user]="user" [height]="15"></app-avatar>
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload">

                {{fileName || "No file uploaded yet" | persian}}

                <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>

            <mat-card-actions>
                <button style="width: 10rem;" color="accent"
                    [class.spinner]="(command == 'upload') && (loading | async)" [disabled]="!file || (loading | async)"
                    mat-raised-button (click)="upload()" type="button">
                    {{'Upload' | persian}}
                </button>
                <button style="width: 10rem;" [class.spinner]="(command == 'setAvatar') && (loading | async)"
                    [disabled]="!avatar || (loading | async)" color="warn" mat-raised-button (click)="setAvatar(null)"
                    type="button">
                    {{'Remove Avatar' | persian}}
                </button>
            </mat-card-actions>

        </div>
    </form>
</div>